---
name: "{{ name }}"
family: "{{ family }}"
scientificName: "{{ scientificName }}"
image: "/plants/{{ fileName }}"{% if latitude and longitude %}
latitude: {{ latitude }}
longitude: {{ longitude }}{% if accuracy %}
accuracy: {{ accuracy }}{% endif %}{% endif %}
---

# {{ scientificName }}

{% if description and description != "No description available." %}{{ description }}{% endif %}